</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static %}
    <link rel="stylesheet" href="{% static 'Css/product_list.css' %}"/>
    <title>Document</title>
</head>
<body>
    <table>
        <h1>Notification List</h1>
        <thead>
            <tr>
                <th>Message</th>
                <th>Time</th>
                <th>Date</th>
                <th>Customer</th> 
                <th>Id Number</th>
              
                
            </tr>
        </thead>
        <tbody>
            {% for notification in notifications %}
            <tr>
                <td>{{ notification.message }}</td>
                <td>{{ notification.time}}</td>
                <td>{{ notification.date }}</td>
                <td>{{ notification.customer }}</td>
                <td>{{ notification.identification_number }}</td>
                <td> <a href="{% url 'notification_detail_view' id=notification.id %}">Notification details</a> </td> 
                   
            </tr>
            {% endfor %}   
        </tbody>
        
    </table>
    
</body>
</html>